body {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav"
        "main main"
}

main {
    grid-area: main;
}

nav {
    grid-area: nav;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

main a:hover {
    color: yellow;
}