body {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav"
        "main main"
        "footer footer"
}

main {
    grid-area: main;
}

nav {
    grid-area: nav;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    display: block;
    grid-area: footer;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    text-align: center;
    margin: 1em;
}

p {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    display: block;
    color: red;
    text-align: center;
    text-shadow: 2px 2px 2px cyan;
    margin: 1.5em;
}

main a {
    text-align: center;
    margin-left: 100px;
}

main a:hover {
    color: yellow;
}

img {
    margin-left: 400px;
    border: 3px solid red;
    width: 40em;
    height: 35em;
}