body {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "footer footer"
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    display: block;
    grid-area: footer;
}

main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-area: main;
}

div img {
    width: 20em;
    height: 20em;
}

main div {
    border: 1px solid black;
    padding: 2em;
}