body {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav"
    "main main main"
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-area: main;
}

div img {
    width: 100%;
}

main div {
    border: 1px solid black;
    padding: 2em;
}