body {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "footer footer"
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    text-align: left;
}

footer {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    width: 93em;
}

main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-area: main;
    column-gap: 1em;
    row-gap: 1em;
}

div img {
    width: 10em;
    height: 10em;
}

main div {
    border: 1px solid black;
    border-radius: 1em;
    padding: 2em;
}