body {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav"
        "main main"
        "footer footer"
}

main {
    margin-inline: 500px;
    grid-area: main;
}

nav {
    grid-area: nav;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    display: block;
    grid-area: footer;
}

header {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

form {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    row-gap: 1.5em;
    width: 400px;
    background-color: black;
    padding: 1em;
}

input [type="submit"] {
    grid-column: 1/3;
}