body {
    background-color: black;
    display: grid;
}

header {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}