body {
    background-color: black;
}

header {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}