body {
    background-color: green;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "main"
        "footer"
}

main {
    grid-area: main;
    margin-inline: 0px;
}

nav {
    grid-area: nav;
}

nav ul li {
    display: block;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    display: block;
}

form {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    row-gap: 1em;
    width: 400px;
    background-color: red;
    padding: 0.5em;
}

.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}

nav {
    display: none;
    background-color: red;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
}