body {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "footer footer"
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: red;
    grid-area: nav;
}

main {
    background-color: white;
    grid-area: main;
}

nav {
    background-color: red;
    padding: 0.1em;
}

nav ul li {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}