body {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "footer footer"
}

nav {
    background-color: red;
    grid-area: nav;
}

main {
    background-color: white;
    grid-area: main;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    color: black;
    margin: 0.5em;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
    background-color: white;
    display: block;
    margin: 0.5em;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    display: block;
    grid-area: footer;
}

nav ul li:hover {
    color: black;
}

img {
    display: block;
    width: 40em;
    height: 20em;
    margin: 2em;
}