body {
    background-color: black;
    display: grid;
    grid-template-areas:
    "nav"
}

nav {
    background-color: red;
    grid-area: nav;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

footer {
    font-family: 'Courier New', Courier, monospace;    
    color: red;
}