body {
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "footer footer"
}

nav {
    background-color: red;
    grid-area: nav;
}

main {
    background-color: white;
    grid-area: main;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    color: red;
    background-color: white;
    display: inline;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: red;
    background-color: white;
    display: block;
}

footer {
    font-family: 'Courier New', Courier, monospace;    
    color: red;
}

nav ul li:hover {
    color: black;
}