body {
    background-color: green;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav"
    "main"
    "footer"
}

nav {
    background-color: red;
    grid-area: nav;
}

nav ul li {
    display: block;
}

main {
    background-color: white;
    grid-area: main;
}

footer{
    grid-area: footer;
}

.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid black;
}

nav {
    display: none;
    background-color: red;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
}

img {
    display: block;
    width: 20em;
    height: 10em;
    margin: 2em;
}